.order{
    /*放大缩小不影响页面布局*/
    margin: 0 auto;
    width: 1300px;

    height: 530px;
    margin-top: 30px;
    border-radius: 50px;
    background: #406891;
}
/* 头部 */
.order-header{
    /*放大缩小不影响页面布局*/
    margin: 0 auto;
    width: 1200px;
    
    text-align: center;
    padding: 10px 10px;
}
.order-header h3{
    font-size: 60px;
    color: white;
}
/* 中心部分 */
.order-main{
    /*放大缩小不影响页面布局*/
    margin: 0 auto;
    width: 1200px;

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
/* 左边 */
.order-left{
    text-align: center;
    height: 400px;
    width: 200px;
    border-radius: 10px;
    background: rgb(121, 150, 217);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* 头像 */
.order-main .order-left .one > img{
    margin-top: 10px;
    width: 100px;
    border-radius: 50%;
}
.order-left .two ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.order-left .two ul li{
    list-style-type: none;
    height: 40px;
}
.order-left .two ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;  
}
/* .order-left .two ul li:nth-child(2){
    background: #4984bf;
} */
/* 图标 */
.order-left .two ul li:nth-child(1)::before{
    content: "";
    display: inline-block;/*既能同行又能设置宽高*/
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background: url("../imgs/个人资料.png") no-repeat center;
    background-size: contain;
}
.order-left .two ul li:nth-child(2)::before{
    content: "";
    display: inline-block;/*既能同行又能设置宽高*/
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background: url("../imgs/我的订单.png") no-repeat center;
    background-size: contain;
}
.order-left .two ul li:nth-child(3)::before{
    content: "";
    display: inline-block;/*既能同行又能设置宽高*/
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background: url("../imgs/收货地址.png") no-repeat center;
    background-size: contain;
}
.order-left .two ul li:nth-child(4)::before{
    content: "";
    display: inline-block;/*既能同行又能设置宽高*/
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background: url("../imgs/我的收藏.png") no-repeat center;
    background-size: contain;
}
/* 右边 */
.order-right{
    padding-left: 50px;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    /* background: white; */
    background: url(../imgs/个人资料背景.jpg) no-repeat;
    background-size: 100% auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-right .title h3{
    font-size: 30px;
}
/* 我的订单导航栏 */
.order-right .message ul{
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
.order-right .message ul li{
    list-style-type: none;
}
.order-right .message ul li a{
    text-decoration: none;
    color: rgb(83, 81, 81);
}
/* 订单页面 */
.order-right .message .two > div{
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    width: 450px;
    background: #406891;
}
.order-right .message .two .num{
    display: flex;
}
.order-right .message .two .num p:nth-child(2){
    margin-left: 130px;
}
.two .order1{
    display: flex;
    align-items: center;

    margin-top: 10px;
}
.two .order1 > img{
    border-radius: 20%;
    height: 70px;
}
.two .order1 > .good{
    margin-left: 10px;
}
/* 订单总额和处理按钮 */
.two .sum{
    display: flex;
}
/* 按钮 */
.two .sum .button{
    margin-left: 25px;
}
.two .sum .button > button{
    border: none;
    border-radius: 25px;
    height: 25px;
    width: 65px;
    cursor: pointer;
}

.order-right .message > div{
    display: flex;
    padding: 10px 10px;
}
.order-right .message > div h2{
    width: 100px;
    font-size: 20px;
}
/* 收货地址 */
#address-page .message > div {
    display: flex;
    padding: 10px 10px;
    align-items: center;
}
#address-page .message input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
}
#address-page .message input[type="checkbox"] {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}
#address-page .message button {
    margin-left: 110px;
    padding: 8px 20px;
    background: #5e7fef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#address-page .message button:hover {
    background: #3a5fcc;
}
/* 激活菜单项样式 */
.order-left .two ul li.active {
    background: #4984bf;
}



